<main class="main">
  <div class="content">
    <div class="left-side">
      <h1>Explore o mundo dos <p class="pokemon-font">Pokémon</p>
      </h1>
      <p>Descubra todas as espécies de Pokémon</p>
      <div class="d-flex justify-content-center input">
        <div class="form-outline" style="margin-right: 10px;">
          <input class="form-control" type="text" name="nomePokemon" id="nomePokemon" (change)="mudarNome($event)">
        </div>
        <button class="btn btn-danger" type="button" (click)="buscar()">Buscar</button>
      </div>
    </div>
    <div class="right-side text-center">
      <img class="logo" cImg fluid src="assets/img/rotomdex.png" />
    </div>
  </div>
</main>
<main class="main">
  <div class="content">
    <div class="left-side">
      <h3>Pokédex</h3>
    </div>
    <div class="right-side">
      <nav aria-label="Page navigation example">
        <ul class="pagination">
          <li class="page-item" style="margin-right: 10px;">
            <button class="btn btn-danger" type="button" (click)="anteriorLista()">&laquo;</button>
          </li>
          <li class="page-item">
            <button class="btn btn-danger" type="button" (click)="proximoLista()">&raquo;</button>
          </li>
        </ul>
      </nav>
    </div>
  </div>
</main>
<main class="main">
  <div class="content">
    <div class="row justify-content-center">
      @if (!pokemonList.length ) {
      <div class="text-center carregamento">
        <div class="card">
          <div class="card-body">
            <h3>Carregando</h3>
            <h4>tenha certeza de ter digitado o nome correto do Pokémon</h4>
          </div>
        </div>
      </div>
      }
      @for (pokemon of pokemonList; track pokemon.numero) {
      <div class="col-sm-6 col-md-4 col-lg-3">
        <div class="card pokemonInfo">
          <div class="card-header">
            <div class="row justify-content-center">
              <h5 class="card-title"><b>{{ pokemon.nome }}</b> #{{ pokemon.numero }}</h5>
            </div>
          </div>
          <div class="card-body">
            <div class="row justify-content-center">
              <img cImg fluid src="{{ pokemon.imagem }}" />
            </div>
            <div class="row justify-content-center">
              <b>Altura:</b> {{ pokemon.altura }} m<br>
              <b>Peso:</b> {{ pokemon.peso }} Kg
            </div>
          </div>
          <div class="card-footer">
            <div class="row right">
              <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#pokemonInfo" (click)="selectPokemon(pokemon)">
                Info
              </button>
            </div>
          </div>
        </div>
      </div>
      }
    </div>
  </div>
</main>
<div #pokemonInfo class="modal left fade" id="pokemonInfo" tabindex="-1" aria-labelledby="pokemonInfoLabel" aria-hidden="true">
  <div class="modal-dialog">
      <div class="modal-content">
          <div class="modal-header">
              <h5 class="modal-title" id="pokemonInfoLabel"><b>{{nomePokemonInfo}}</b> #{{numeroPokemonInfo}}</h5>
          </div>
          <div class="modal-body">
            <div class="row justify-content-center">
              <img cImg fluid src="{{imagemPokemonInfo}}" />
            </div>
            <div class="row">
              <h3>Tipos</h3>
              <div class="col-12 text-center">
                <b>Primário:</b> <p class="{{tipoPrimarioPokemonInfo}}">{{tipoPrimarioPokemonInfo}}</p>
                <b>Secundário:</b> <p class="{{tipoSecundarioPokemonInfo}}">{{tipoSecundarioPokemonInfo}}</p>
              </div>
            </div>
            <div class="row justify-content-center">
              <h3>Informação</h3>
              <b>Altura:</b> {{alturaPokemonInfo}} m<br>
              <b>Peso:</b> {{pesoPokemonInfo}} Kg
              <h3>Status</h3>
              <b>HP:</b> {{hpPokemonInfo}}<br>
              <b>Ataque:</b> {{ataquePokemonInfo}}<br>
              <b>Defesa:</b> {{defesaPokemonInfo}}<br>
              <b>Ataque Especial:</b> {{ataqueEspecialPokemonInfo}}<br>
              <b>Defesa Especial:</b> {{defesaEspecialPokemonInfo}}<br>
              <b>Velocidade:</b> {{velocidadePokemonInfo}}
            </div>
          </div>
          <div class="modal-footer">
            <button id="closeModal" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
          </div>
      </div>
  </div>
</div>


<router-outlet />